.character-list {
  counter-reset: list;
  margin-bottom: 20px;

  li {
    border-bottom: 2px solid #cacaca;
    color: #868686;
    padding: 20px;

    &:before {
      color: rgb(66, 66, 66);
      counter-increment: list;
      content: counter(list);
      margin-right: 20px;
    }
  }
}
