.btn {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 13px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  &[disabled] {
    background: #cbcbcb !important;
    cursor: not-allowed;
  }

  &.btn-primary {
    background: #fdd600;

    &:hover {
      background: darken(#fdd600, 5%);
    }
  }

  &.btn-dark {
    background: #515151;

    &:hover {
      background: darken(#515151, 5%);
    }
  }
}
