.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;

  .img-not-found {
    width: 132px;
  }

  .title {
    font-size: 94px;
  }

  .error-message {
    margin: 0 0 30px 0;
  }

  .text-lead {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
  }
}
